body {
  background-color: #d3d3d3;
}
.eq-input{
  color: #fff;
  display:block;
  text-align:center;
  vertical-align:middle;
  padding: 10px;
  background-image: url('http://cache3.asset-cache.net/xd/92887930.jpg?v=1&c=IWSAsset&k=2&d=62CA815BFB1CE480187A7D0A56ECEF804E7679DD01108BC6B1944D0D98D4F37AA4BCAFFE70CFF817');
  background-size: cover;
  height: 200px;
  width: 100%;
  background-position: 0px 60%;
  background-repeat: no-repeat;
}
.eq-dart-throw {
  background-image: url('https://floresfactor.files.wordpress.com/2011/12/shooting_darts-13661.png');
}
#eq-player-input {
  margin: 0 auto;
  margin-top:10px;
  border: none;
  border-radius: 3px;
  color: #000;
}
.eq-leaderboard h2{
  text-align: center;
  border-bottom: #000 solid thin;
  font-family: sans-serif;
}
#rankings{
  text-transform: capitalize;
  text-align: center;
  font-size: 18px;
  width: 300px;
  padding-left: 62px;
  margin: 0 auto;
}
li {
  text-align: left;
  display: block;
  width: 100%
}
.eq-header {
  position: relative;
  width: 50%;
  margin: 0 auto;
}
